<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>express-posthtml & posthtml-cache demo</title>
	<link  nonce="2726c7f26c" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-alpha.6/dist/css/bootstrap.min.css">
</head>
<body>
	<h1>express-posthtml & posthtml-cache demo</h1>
	<img nonce="2726c7f26c" src="/static/18964189_3395444665.jpg" alt="">
	<script charset="utf-8">
		variable = 'Lorem ipsum'
	</script>
	<script nonce="2726c7f26c" src="/static/index.js"></script>
</body>
</html>